@keyframes ticketAppearAnimation {
  0% {
    transform: translateY(-40vh);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes cardAppearAnimation {
  0% {
    opacity: 0.3;
    scale: 0.8;
  }
  80% {
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}

@keyframes starAppearAnimation {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}