.left-dot {
  color: var(--main-color);
  font-size: x-large;
  margin-top: -20px;
  margin-left: -2px;
  user-select: none;
  cursor: default;
  text-shadow: none;
}

.right-dot {
  color: var(--main-color);
  font-size: x-large;
  margin-top: -20px;
  margin-right: -2px;
  user-select: none;
  cursor: default;
  text-shadow: none;
}

.ticket-divider {
  display: flex;
  border-style: dashed;
  border-top-width: 2px;
  border-color: var(--body-color);
  margin: 20px -25px 10px;
  justify-content: space-between;
}
