.left-dot {
  position: absolute;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--main-color);

  margin-top: -0.5rem;
  left: 0;
  margin-left: -8px;
}

.right-dot {
  position: absolute;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--main-color);
  margin-top: -0.5rem;
  right: 0;
  margin-right: -8px;
}

.ticket-divider {
  border-style: dashed;
  border-bottom-width: 2px;
  border-color: #cbd5e0;
  margin: 1.25rem 0;
}
