input[type="file"] {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--input-border-color);
  transition: all 0.4s ease;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--input-border-hover-color);
  border: none;
}

.input {
  background-color: #fff;
  color: var(--body-color);
  border-color: var(--input-border-color);
  width: 100%;
  border-bottom-width: 2px;
  border-radius: var(--border-radius);
  padding: 0.25rem 0;
  transition: all 150ms ease-in-out;
  font-size: 0.9rem;
  animation: starAppearAnimation 0.4s ease;
}

.input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.input-catalog {
  padding: 0.5rem 0;
  font-size: 1.1rem;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: var(--input-border-hover-color);
  box-shadow: 0 1px 0 0 var(--input-border-hover-color);
}

.input-error {
  border-color: var(--error-color);
}

.input-error:focus {
  border-color: var(--error-color);
}

.checkbox {
  display: none;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1rem 0.5rem 0 0.5rem;
  letter-spacing: 1px;
}

.label-checkbox {
  display: inline-block;
  padding: 0.3rem 1rem;
  margin: 0.5rem 1rem;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}

.label-checkbox:hover {
  background-color: var(--main-color);
}

.label-checkbox-active {
  background-color: var(--main-color);
}

