.card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 140px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 160px;
  transform-style: preserve-3d;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem 0;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: transform 0.8s ease;
  animation: cardAppearAnimation 0.4s ease;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 2 1;
  padding: 0 1rem;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card-img {
  height: 160px;
  border-radius: var(--border-radius);
}

.wrapper-time-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0.5rem;
}

.time {
  border-radius: var(--border-radius);
  background-color: var(--title-color);
  padding: 0.5rem 1rem;
  color: #ffffff;
}

.ticket-price {
  margin: 0 0.5rem;
}
