@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  @apply min-h-screen bg-center bg-cover flex items-center justify-center;
}

.flex-center {
  @apply flex items-center justify-center;
}

.label {
  @apply flex flex-col items-stretch mt-2 mx-2;
}

.input {
  @apply bg-white border-amber-200 min-w-full border-b-2 py-1 transition-all hover:border-amber-300 focus:outline-none;
}

.input-error {
  @apply border-red-500 hover:border-red-700;
}

.left-dot {
  @apply absolute rounded-full w-5 h-5 dark:bg-amber-600 bg-amber-600 -mt-2 left-0;
  margin-left: -8px;
}

.right-dot {
  @apply absolute rounded-full w-5 h-5 dark:bg-amber-600 bg-amber-600 -mt-2 right-0;
  margin-right: -8px;
}

.ticket-divider {
  @apply border-dashed border-b-2 border-b-slate-300 my-5;
}

.text-error {
  @apply mb-2 text-sm text-red-800 dark:text-red-700
}