@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  @apply min-h-screen bg-center bg-cover flex items-center justify-center;
}

.flex-center {
  @apply flex items-center justify-center;
}

.btn-primary {
  @apply py-2 px-4 bg-amber-600 text-white font-semibold rounded-lg shadow-md hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-400 transition-all;
}

.input {
  @apply border-amber-200 border-b-2 w-full py-1 my-1 focus:outline-none;
}

.left-dot {
  @apply absolute rounded-full w-5 h-5 bg-amber-600 -mt-2 -left-2;
}

.right-dot {
  @apply absolute rounded-full w-5 h-5 bg-amber-600 -mt-2 -right-2;
}

.ticket-divider {
  @apply border-dashed border-b-2 border-b-slate-300 my-5;
}
